.product-card{
    max-width: 300px;
    overflow: hidden;
    max-height: 500px;
    /* padding: 15px; */
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
    position: relative;
}
.product-card img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}
.product_box h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
}
.product-card span{
    color: #f91919;
}
.product_box p{
    min-width: 250px;
    width: 100%;
    max-height: 70px;
    min-height: 70px;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-box-clamp: 3;
overflow: hidden;
color: #323232;
}
.row_btn{
    display: flex;
    width: 100%;
    /* margin-top: 10px; */
    justify-content: space-between;
}
.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
/* #btn_buy{
    background: #555;
    margin-right: 5px;
}
#btn_view{
    background: teal;
    margin-left: 5px;
} */
.product-card input{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 25px;
    height: 25px;
}